<div class="">
  <div class="bar">
    <button phx-click="github_deploy">Deploy to GitHub</button>
    <div class="github-deploy">
      Status: <span class=<%= @status %>><%= @deploy_step %></span>
    </div>
  </div>
</div>
